<div class="row">
    <div class="more-videos">
        <h5>More videos</h5>
    </div>
    <div class="col-12">
        <div *ngIf="moreVideos" class="row row-cols-1 row-cols-md-4 g-4 mb-4">
            <div *ngFor="let video of moreVideos" class="col">
                <div class="card h-100">
                    <a href="/video/{{ video.id }}">
                        <img src="{{ video.snippet.thumbnails.default.url }}" class="card-img-top" alt="{{ video.snippet.title }}" />
                    </a>
                    <div class="card-body">
                        <p class="card-title mx-1"><a href="/video/{{ video.id }}">{{ global.trimString(video.snippet.title, 68) }}</a></p>
                        <p class="card-text mx-1"><a target="_blank" href="/channel/{{ video.snippet.channelId }}">{{ video.snippet.channelTitle }}</a></p>
                        <p class="card-text mx-1"><small class="text-muted">{{ video.statistics.viewCount | number }} visualizações • há 5 meses</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>