.card-title {
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 500;
}

.card-text {
    font-size: 10px;
    margin-bottom: 0px;
}

.card-text>a {
    text-decoration: none;
}

.card-title>a {
    text-decoration: none;
    color: black;
}