<div *ngIf="otherVideos" class="row g-2">
    <div *ngFor="let video of otherVideos" class="col-12">
        <div class="card h-100">
            <div class="row g-0">
                <div class="col-md-5">
                    <a href="/video/{{ video.id }}">
                        <img src="{{ video.snippet.thumbnails.high.url }}" class="img-fluid rounded-start" alt="{{ video.snippet.title }}" />
                    </a>
                </div>
                <div class="col-md-7">
                    <div>
                        <p class="card-title mx-2 mt-2"><a href="/video/{{ video.id }}">{{ global.trimString(video.snippet.title, 54) }}</a></p>
                        <p class="card-text mx-2 mt-2"><a href="/channel/{{ video.snippet.channelId }}">{{ video.snippet.channelTitle }}</a></p>
                        <p class="card-text mx-2 mt-2"><small class="text-muted">{{ video.statistics.viewCount | number }} visualizações • há 5 meses</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>